/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Header styles */
  header {
    background-color: #000;
    color: #fff;
    padding: 5px; /* Increased padding */
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Hero Section styles */
  .hero {
    background-image: url("/images/burgerr.png");
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 300px 0;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .hero-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .hero h1 {
    font-size: 58px;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  /* Menu Section styles */
  .menu {
    background-color: #fff;
    padding: 100px 0;
    text-align: center;
  }
  
  .menu h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .menu-items {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .menu-item {
    margin-right: 30px;
    max-width: 300px;
    overflow: hidden;
  }
  .menu-item img {
    width: 100%;
    height: 90%;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    
  }
  
  .menu-item img:hover {
    transform: scale(1.1);
  }
  
  /* About Section styles */
  .about {
    background-color: #f2f2f2;
    padding: 100px 0;
    text-align: center;
  }
  
  .about h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  /* Contact Section styles */
  .contact {
    background-color: #000;
    color: #fff;
    padding: 100px 0;
    text-align: center;
  }
  
  .contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .contact input, .contact textarea {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  
  .contact button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .btn.add-to-cart {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5500;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .btn.add-to-cart:hover {
    background-color: #e64400;
  }
  
  #cart-count {
    color: #ff5500;
    font-weight: bold;
  }
  
  footer {
    background-color: #f2f2f2;
    padding: 50px; 
    text-align: center;
  }
  